body {
  background-color: #fafafa;
  /* background-color: #0e0d0d; */
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.image {
  background-color: #fafafa;
  width: 370px;
  margin-top: 50px;
  padding: 20px;
}

@media only screen and (max-width: 770px) {
  .container {
    margin: 0 10%;
  }

  .image {
    width: 100%;
  }
}
